body {
    margin: 0;
    padding: 0;
}

a {
    color: #0a84ff;
    text-decoration: underline;
}

.flex {
    display: flex;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.bg-colour {
    background-color: #0a84ff;
}

.font {
    font-size: 16px;
    font-family: Monaco, sans-serif;
    color: lightgoldenrodyellow;
}

.doc-font {
    font-size: 16px;
    font-family: Monaco, sans-serif;
    color: #0a042f;
}

/*
    CODE HIGHLIGHTING
 */

.KEYWORD, .END_STATEMENT, .ESCAPE {
    color: #c75;
}

.TYPE_PARAMETER {
    color: darkcyan;
}

.CHAR, .OPEN_CHAR, .CLOSE_CHAR, .STRING {
    color: #171;
}

.ATTRIBUTE {
    color: #8250df;
}

.METHOD_CALL {
    color: #cb6;
}

code div {
    display: inline;
}