body {
    margin: 0;
    padding: 0;
}

a {
    color: #0a84ff;
    text-decoration: underline;
}

.flex {
    display: flex;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.bg-colour {
    background-color: #0a84ff;
}

.font {
    font-size: 16px;
    font-family: Monaco, sans-serif;
    color: lightgoldenrodyellow;
}

.doc-font {
    font-size: 16px;
    font-family: Monaco, sans-serif;
    color: #0a042f;
}

.collapsible > span {
    border-bottom: 3px solid cornflowerblue;
    width: 50%;
    margin-bottom: 15px;
    align-self: flex-start;
    cursor: pointer;
}

.collapsible {
    max-height: 2000px;
    overflow: visible;
    opacity: 1;
}

.collapsible.collapsed {
    max-height: 3.75rem;
    opacity: 0.5;
    transition: max-height 0.1s ease-in, opacity 0.1s ease-in;
    overflow: hidden;
}

.quote {
    border-left: 5px solid lightgray;
}

/*
    CODE HIGHLIGHTING
 */

.KEYWORD, .END_STATEMENT, .ESCAPE {
    color: #c75;
}

.TYPE_PARAMETER {
    color: darkcyan;
}

.CHAR, .OPEN_CHAR, .CLOSE_CHAR, .STRING {
    color: #171;
}

.COMMENT {
    color: #777;
}

.ATTRIBUTE {
    color: #8250df;
}

.METHOD_CALL {
    color: #ba6;
}

code div {
    display: inline;
}